<?xml version="1.0"?>
    <config>
    <modules>
        <Apdh_Blacklist>
            <version>0.0.6</version>
        </Apdh_Blacklist>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Apdh_Blacklist>
                    <files>
                        <default>Apdh_Blacklist.csv</default>
                    </files>
                </Apdh_Blacklist>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <newsletter_blacklist>
                        <class>Apdh_Blacklist_Model_Observer_Newsletter</class>
                        <method>saveSubscriber</method>
                    </newsletter_blacklist>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <register_blacklist>
                        <class>Apdh_Blacklist_Model_Observer_Register</class>
                        <method>saveRegister</method>
                    </register_blacklist>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_checkout_onepage_saveorder>
                <observers>
                    <checkout_blacklist>
                        <class>Apdh_Blacklist_Model_Observer_Checkout</class>
                        <method>saveCheckout</method>
                    </checkout_blacklist>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveorder>
            <controller_action_predispatch_customer_account_loginpost>
                <observers>
                    <tracking_login>
                        <class>Apdh_Blacklist_Model_Observer_Tracking</class>
                        <method>checkUserLogin</method>
                    </tracking_login>
                </observers>
            </controller_action_predispatch_customer_account_loginpost>
            <controller_action_predispatch_checkout_onepage_saveorder>
                <observers>
                    <tracking_checkout>
                        <class>Apdh_Blacklist_Model_Observer_Tracking</class>
                        <method>checkUserCheckout</method>
                    </tracking_checkout>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveorder>
        </events>
    </frontend>
    <admin>
        <routers>
            <blacklist>
                <use>admin</use>
                <args>
                    <module>Apdh_Blacklist</module>
                    <frontName>blacklist_tracking</frontName>
                </args>
            </blacklist>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <apdh module="apdh">
                <children>
                    <blacklist_admin module="blacklist" translate="label">
                        <title>Tracking User's (Blacklist)</title>
                        <sort_order>5</sort_order>
                        <action>blacklist/adminhtml_tracking</action>
                    </blacklist_admin>
                    <blacklist_config module="blacklist" translate="label">
                        <title>Configurations (Blacklist)</title>
                        <sort_order>6</sort_order>
                        <action>adminhtml/system_config/edit/section/blacklist_options</action>
                    </blacklist_config>
                    <blacklist_report module="blacklist" translate="label">
                        <title>Reports (Blacklist)</title>
                        <sort_order>7</sort_order>
                        <action>blacklist/adminhtml_report</action>
                    </blacklist_report>
                </children>
            </apdh>
        </menu>
        <acl>
            <resources>
                    <all>
                        <title>Configuration Apdh Module</title>
                    </all>
                    <admin>
                        <children>
                            <blacklist module="blacklist" translate="label">
                                <title>Apdh Blacklist</title>
                                <sort_order>70</sort_order>
                                <blacklist_admin module="blacklist" translate="label">
                                    <title>Tracking User's (Blacklist)</title>
                                    <sort_order>5</sort_order>
                                </blacklist_admin>
                                <blacklist_report module="blacklist" translate="label">
                                    <title>Reports (Blacklist)</title>
                                    <sort_order>7</sort_order>
                                </blacklist_report>
                            </blacklist>
                            <system>
                                <children>
                                    <config>
                                        <children>
                                            <blacklist_options translate="label">
                                                <title>Configuration Apdh Blacklist</title>
                                            </blacklist_options>
                                        </children>
                                    </config>
                                </children>
                            </system>
                        </children>
                    </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Apdh_Blacklist>
                    <files>
                        <default>Apdh_Blacklist.csv</default>
                    </files>
                </Apdh_Blacklist>
            </modules>
        </translate>
        <layout>
            <updates>
                <blacklist>
                    <file>tracking.xml</file>
                </blacklist>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <blacklist>
                <class>Apdh_Blacklist_Helper</class>
            </blacklist>
        </helpers>
        <models>
            <blacklist>
                <class>Apdh_Blacklist_Model</class>
                <resourceModel>blacklist_resource</resourceModel>
            </blacklist>
            <blacklist_resource>
                <class>Apdh_Blacklist_Model_Resource</class>
                <entities>
                    <tracking>
                        <table>apdh_blacklist_tracking</table>
                    </tracking>
                    <tracking_info>
                        <table>apdh_blacklist_tracking_info</table>
                    </tracking_info>
                </entities>
            </blacklist_resource>
		</models>
        <blocks>
            <blacklist>
                <class>Apdh_Blacklist_Block</class>
            </blacklist>
        </blocks>
        <resources>
            <blacklist_setup>
                <setup>
                    <module>Apdh_Blacklist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blacklist_setup>
            <blacklist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blacklist_write>
            <blacklist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blacklist_read>
        </resources>
    </global>
</config>
